html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.glass-design-main {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(1rem);
}
.glass-design-card {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.4)
  );
}

.logo {
  font-family: "Merriweather Sans";
  margin-top: 0;
}

.logo b {
  color: rgb(51, 51, 51);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem 1.75rem 2rem;
  width: 20%;
}

.sidebar .logo {
  font-size: 1.5rem;
}

.start-page-body {
  background-image: url("../images/bg-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 2rem 3rem;
  border-radius: 20px;
}

.username-input,
.room-password-input,
.room-name-input {
  display: flex;
  flex-direction: column;
}

form input {
  font-family: "Poppins";
  padding: 0.75rem 0.5rem;
  border: none;
  border-radius: 8px;
}

form label {
  font-size: 0.9rem;
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
  color: black;
}

.form-control h2 {
  margin: 1.5rem auto 0.5rem auto;
}

.room-password-input,
.room-name-input {
  width: 48%;
}

.create-room {
  display: flex;
  margin: 0 0 1rem 0;
  justify-content: space-between;
}

.btn {
  width: 100%;
  margin: 0 auto;
  background: rgb(89, 184, 89);
  color: white;
  font-family: "Poppins";
  border: none;
  border-radius: 8px;
  padding: 0.75rem 0;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.create-room-btn {
  margin: 0 auto;
}
:disabled {
  background-color: grey;
}

.form-control {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chat-room {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

.chat-room select {
  font-family: "Poppins";
  padding: 0.75rem 0.5rem;
  border: none;
  border-radius: 8px;
}

.chat-container {
  overflow-y: scroll;
  max-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: lightgray;
  background-clip: content-box;
  border: 5px solid transparent;
}

.chat-view-container {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  max-width: 1200px;
  margin: 0rem 2rem;
  height: 75vh;
}

.leave {
  background-color: #787db4;
  border: none;
  padding: 0.75rem 1rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  border-radius: 0.7rem;
}

.user-message {
  margin: 1rem;
  max-width: 30rem;
  padding: 1.5rem 1rem;
  border-radius: 12px;
}

.message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-header .time {
  margin-right: 1rem;
  color: grey;
}

.message-header h5,
.message-header .time {
  margin-top: 0;
  margin-bottom: 0;
}

.message-header h5 {
  font-size: 1rem;
}

.message-body {
  margin-bottom: 0;
  font-size: 0.9rem;
}

#message-form {
  background: white;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 10px;
}

#messagewritten {
  width: 100%;
}

.send-message-btn {
  border: none;
  padding: 0rem 2rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  background: rgb(89, 184, 89);
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

input:focus {
  outline: none;
}
.fixedLoginForm {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.hidden {
  display: none;
}
.form-input {
  width: 20rem;
  margin-bottom: 2rem;
}

#status-text {
  text-align: center;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.text-input {
  padding: 1rem;
}

.flex-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
