body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.glass-design-main {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(2rem);
}
.glass-design-card {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.4)
  );
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35rem;
}

.container form {
  display: flex;
  flex-direction: column;
}

.chat-room {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.sidebar {
  background: aliceblue;
  padding: 2rem;
}

.create-room {
  display: flex;
  margin-bottom: 2rem;
}

.create-room .input {
  display: flex;
  flex-direction: column;
}

.username-input {
  display: flex;
  flex-direction: column;
}

.chat-room {
  margin-bottom: 1rem;
}

.chat-container {
  background: lightgoldenrodyellow;
  padding: 2rem;
}

.chat-view-container {
  display: flex;
}

.user-message {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 1rem;
}
